* {
    box-sizing: border-box;
}

button {
	font: inherit;
	font-size: 1rem;
	padding: 1em;
	width: 30%;
	font-weight: 500;
	background-color: #4B6F44;
	border-radius: 6px;
	color: #FFF;
	border: 0;
    transition: 0.4s;
}

.button:hover {
    transition: 0.4s;
    background-color: white;
    color: #4B6F44;
  }

body {
    margin: 0;
    padding: 0;
}
a {
    color: gray;
    text-decoration: none;
}
h1 {
    font-size: 48px;
    font-weight: 700;
}
.container {
    display: flex;
    flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    background-image: url(background.jpg);
    background-size: cover;
    width: 42%;
    height: 100vh;
}

.left-footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 42%;
    font-size: 18px;
    color: gray;
    background-color: rgba(0, 0, 0, 0.3);

}

.right-side {
    display: flex;
    flex-direction: column;
    width: 58%;
    background-size: auto;
    padding-left: 20px;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.github {
    height: 10vh;
}

.main-text {
    padding-left: 15px;
    padding-top: 80px;
    width: 85%;
    font-weight: 500;
    font-size: 22px;
}

.main-text-child {
    padding: 40px;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 80%;
}

.form-input {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 8px;
}